// Cela permet d'importer les variables
@import "../variables";

// Modification du style avec un fond noir, mettre la largeur à 100%
header {
  background-color: $black;
  width: 100%;
  text-align: center;

  // Styliser pour les plus grands écrans
  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Modification de la taille du logo
.logo {
  width: 25%;
  // Styliser pour les plus grands écrans
  @media (min-width: $desktop) {
    width: 20%;
  }
}

// Modification de styles sur les liens
.navbar__link {
  // Styliser pour les plus grands écrans
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    text-align: center;
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: $white;
    gap: 10px;
  }
}

ul {
  padding: 0;
}

// Modifier l'emplacement des liens
li {
  list-style: none;
  // Styliser pour les plus grands écrans
  @media (min-width: $desktop) {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    gap: 20px;
  }
}

// Styliser le bouton
.nav__button {
  background-color: $orange;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 10px;
  // Styliser pour les plus grands écrans
  @media (min-width: $desktop) {
    width: 200px;
    margin: 0;
    border-radius: 0;
    height: 75px;
  }
}
